:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #dee2e6;
  --color-primary: rgb(0, 81, 255);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-lite: #6c757d;

  --border-radius-d: 12px;
  --border-radius-s: 4px;

  --weight-title: 500;
  --weight-text: 400;
  --weight-b: 700;
  --page-wigth: 1000px;
}

/*============================*/
.page {
  background: rgb(248, 246, 246);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-wigth);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/*===========================*/

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  background: var(--color-primary);
  color: var(--color-white);
  height: 24px;
  width: 24px;
  border-radius: calc(var(--border-radius-d) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  font-weight: var(--weight-title);
  margin-bottom: var(--space-l);
}

/* ======================================= */
.main {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.info_title {
  color: var(--color-title);
  font-size: 56px;
  font-weight: var(--weight-b);
  line-height: 120%;
}

.info_text {
  color: var(--color-title);
  font-size: var(--size-b);
  line-height: 150%;
}
.form {
  max-width: 400px;
  width: 100%;

  background: var(--color-white);
  border-radius: var(--border-radius-d);
  border: 1px solid #dee2e6;

  padding: 60px 48px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-l);
}

.form_title {
  text-align: center;
  font-size: var(--size-b);
  font-weight: var(--weight-text);
  color: var(--color-title);
}

.form_info {
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-lite);
}

.form_button {
  font-size: var(--size-l);
  text-align: center;
  line-height: 30px;
  padding: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-s);

  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.divider {
  margin: 0;
  height: 1px;
  background: rgba(127, 138, 148, 0.5);
}

.form_input-list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}

.form_input {
  padding: var(--space-xm);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-s);
}

.form_checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.form_checkbox > input {
  display: none;
}

.form_checkbox > input ~ div {
  border: 1px solid #767676;
  border-radius: 4px;
  height: 13px;
  width: 13px;
}

.form_checkbox > input:checked ~ div {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.form_checkbox > label {
  font-size: var(--size-s);
  color: var(--color-title);
  cursor: pointer;
}

.updates {
  max-width: 1000px;
  width: 100%;

  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);
}

.updates_title {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-text);
  align-self: stretch;

  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.updates_link {
  color: var(--color-primary);
  font-size: var(--size-s);
  align-self: flex-start;
  text-decoration: none;
  transition-duration: 0.7s;
  transition-property: opacity;
  border-bottom: 1px solid transparent;
}

.updates_link:hover {
  opacity: 0.4;
  border-bottom: 1px solid var(--color-primary);
}

.msg {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-self: stretch;

  position: relative;

  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);

  padding-left: var(--space-b);
}

.msg_title {
  color: var(--color-lite);
  font-size: var(--size-s);
  font-weight: var(--weight-b);
  line-height: 20px;
}

.msg_text {
  color: var(--color-lite);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 150%;
}

.msg_img {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  color: var(--color-text);
  background: #007bff;
  font-size: 12px;
  padding-top: 10px;
  margin-right: 8px;
}

.expirience {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l) 28px;
  background: #f8f9fa;
}

.expirience_header {
  display: flex;
  justify-content: space-between;
}

.expirience_title {
  color: var(--color-title);
  font-size: 42px;
  font-weight: var(--weight-b);
}

.expirience_badge {
  display: inline-flex;
  transform: rotate(30deg);
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  top: -30px;
  right: -50px;

  border-radius: 70px;
  color: var(--color-white);
  background: #ff7347;
  font-size: var(--size-l);
  font-weight: var(--weight-b);
  line-height: 120%;
}
.expirience_list {
  display: flex;
  align-items: stretch;
  gap: var(--space-l);
}
.expirience_list > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-d);
  background: #212529;

  padding: var(--space-xm);
  gap: var(--space-l);
}

/* .advantages > div:nth-of-type(2) {
  flex-grow: 1;
  width: 100%;
} */

.expirience_list > div > strong {
  color: var(--color-white);
  font-weight: var(--weight-b);
  font-size: var(--size-b);
  line-height: 130%;
}

.expirience_list > div > p {
  color: #b1b1b1;
  font-size: var(--size-d);
  line-height: 140%;
}
